$spacing: 15px;
$accent-color : #E78419;
$accent-color2: #f7a439;

$fontS: 12px;
$fontM: 14px;
$fontL: 18px;

$font_small: 11px;

.font-small {
   font-size: $font_small !important;
}

.f-l {
   float: left;
}

.d-i-b {
   display: inline-block;
}
$seventh: calc( 100% / 7 ) !important;
.seventh {
   @extend .f-l;
   @extend .d-i-b;

   width: $seventh;
   box-sizing: border-box !important;
   margin: 0 !important;
}

.quarter {
   @extend .f-l;
   @extend .d-i-b;
   width: 25%;
}
.eight {
   @extend .f-l;
   @extend .d-i-b;
   width: 12.5%;
}
.three-quarters {
   @extend .f-l;
   @extend .d-i-b;
   width: 75%;
}


.text-left {
   text-align: left;
}

.text-center {
   text-align: center;
}

.text-right {
   text-align: right;
}


.arrow {
   @extend .font-small;
}


.calendar {

   height: auto;

   .calendar-view {
      * {
      }

      .day,.weekday-header {
         @extend .seventh;
      }

      .weekday-header, .day {
         padding: $spacing;
      }
      .day {
         border:1px solid #ccc;
         padding:2px;
         text-align:center;
         font-size:14px;

         height: 100;

         position: relative;

         &.full {
            cursor: pointer;
            .container{ background-color: $accent_color; }
         }
         &.current {
            .container{ background-color: $accent_color2 !important; }
         }
         &.today {
            .container{ background-color: $accent_color2; }
            color: #fff;
         }
         &.invisible {
            border: none;
         }
         .day-number {
            padding: $spacing / 2 !important;
            text-align: left;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid black;
         }

         .day-posts {
            padding-top: $spacing !important;
            text-align: center;
         }
      }
   }

}






// first theme


.calendar {

   nav, ul {
      text-align: center;
   }
   .week-days > div {
      width: 14% !important;

   }


   .week-days > div, .day {
      margin-bottom: 0.55vh;
      margin-right: 0.55vh;
   }
   .week-days {
      margin-bottom: $spacing*2;
      font-size: $fontS;
      text-align: left;

   }

   a {
      color: black;
      text-decoration: none !important;
   }

   .arrow {
      a,span {
         box-shadow: none !important;
         text-decoration: none !important;
      }
   }

   .day {

      height: 5vh !important;

      background-color: transparent;

      .container {

         width: 100%;
         height: 100%;
         background-color: #f4f3f0;
         box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

      }


      &.invisible {
         opacity: 0 !important;
      }
      @media screen and (max-width:768px) {
         height: 9vh !important;
      }
      // outline: 1px solid #fff !important;
      border: none !important;

      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }


      &.full{

         transition: all 0.2s ease-in-out;

         .container {
            background-color: $accent-color !important;
         }

         &:hover {
            .container {
               background-color: #000 !important;
               color:white !important;
            }
            a {
               color: $accent-color !important;
            }
         }
         a {
            color:black !important;
            .post-count {
               color: white !important;
               font-weight: bold;
            }
         }
      }



      .day-number {
         border:none !important;
      }
      .day-posts {
         padding: 5px 0 0 0 !important;

         .post-count {
            font-size: $fontS;
            text-align: right;
         }

      }
   }


   .calendar_date_title {
      font-size: $fontM;
   }
}
