.seventh {
   width: 14.2%;
   height: 80px;
   float: left;
   display: inline-block;
   border:1px solid black; padding:5px; text-align:center; font-size:14px;
}

.calendar-view {
   .day,.weekday-header {
      @extend .seventh;
   }
   .day {

      &.today {
         background-color: #222;
         color: #fff;
      }
      &.full {
         cursor: pointer;
      }
   }
}
